<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark">
        
        <div class="move-up">
            <button class="m-1 btn btn-light btn-outline-primary float-end" (click)="open('termsAndCondition')" Button>
                Terms and Condition
            </button>
            
            <button (click)="open('register')" class="m-1 btn btn-light btn-outline-primary float-end" Button>
                Sign Up
            </button>
            <button class="m-1 btn btn-light btn-outline-primary float-end" (click)="open('login')" Button>
                Login
            </button>
            <button class="m-1 btn btn-light btn-outline-primary float-end" (click)="open('home')" Button>
                Home
            </button>
        </div>
    </nav>
    
</div>
